html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  body
    .container
      block content
        h1= title
        p Welcome to #{title}
        .card
          .card-header Test
          .card-body This is the body

