extends layout
//- there needs to be a search bar on this page
block content
  .container
    each val in institutions
      .card
        .card-header= val.name
        pre.card-body= val.description