extends layout
//- there needs to be a search bar on this page
block content
  .container
    each val in institutions
      a.card(href="/map/" + val._id).mt-1
        .card-header= val.name
        pre.card-body= val.description