extends layout-master

block headerSrc
  link(rel="stylesheet", href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css", integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==", crossorigin="")
  script(src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js", integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==", crossorigin="")
  
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.css")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.js")

block page
  - const navElements = {'About us': 'about', 'Open source': 'opensource', 'Register': 'register', 'Admin': 'admin', 'Contact us': 'contact'}
  .wrapper(style="height: 100vh; position: relative;")
    nav(style="z-index: 5").navbar.navbar-expand-sm.bg-dark.navbar-dark.py-0.py-md-0
      a(href='/').navbar-brand Routes

      button(type="button" data-toggle="collapse" data-target="#navbarCollapse").navbar-toggler
        span.navbar-toggler-icon
      
      #navbarCollapse.collapse.navbar-collapse
        ul.navbar-nav
          each val, index in navElements
            li.nav-item
              a(href=val).nav-link= index
    block map