extends layout-master

block navbar
  - const navElements = {'About us': 'about', 'Open source': 'opensource', 'Register': 'register', 'Admin': 'admin', 'Contact us': 'contact'}
  nav.navbar.navbar-expand-sm.bg-dark.navbar-dark
    a(href='/').navbar-brand Routes

    button(type="button" data-toggle="collapse" data-target="#navbarCollapse").navbar-toggler
      span.navbar-toggler-icon
    
    #navbarCollapse.collapse.navbar-collapse
      ul.navbar-nav
        each val, index in navElements
          li.nav-item
            a(href=val).nav-link= index